<!DOCTYPE html>
<html>

<head>
<!--    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>-->
<!--    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!--    <link rel="stylesheet" href="css/main.css">-->
<!--    <script src="js/app.js" defer></script>-->

</head>

<body>

<div class = "equations">
    $$\frac{d}{dt}y_{0}=(a_{48} * #F_{carb}# - y_{0}) / a_{44}$$
$$\frac{d}{dt}y_{1}=(y_{0} - y_{1}) / a_{47}$$
$$\frac{d}{dt}y_{2}=(a_{49} * #F_{fat}# - y_{2}) / a_{45}$$
$$\frac{d}{dt}y_{3}=(y_{2} - y_{3}) / a_{45}$$
$$\frac{d}{dt}y_{4}=(a_{50} * #F_{prot}# - y_{4}) / a_{46}$$
$$\frac{d}{dt}y_{5}=(y_{4} - y_{5}) / a_{46}$$
$$\frac{d}{dt}y_{6}=a_{1} * y_{1} + a_{12} * y_{3} + a_{33} * y_{5} - a_{0} * y_{6}$$
$$\frac{d}{dt}y_{7}=y_{1} - #f(y_{6},a_{7},a_{18},a_{39},a_{28})#* y_{7}$$
$$\frac{d}{dt}y_{8}=y_{5} - a_{60} * y_{8} + #f(y_{8},a_{6},a_{17},a_{38},a_{27})# * y_{31}$$
$$\frac{d}{dt}y_{9}=y_{3} - a_{51} * y_{9}$$
$$\frac{d}{dt}y_{10}=a_{51} * y_{9} - #f(y_{6},a_{2},a_{13},a_{34},a_{23})# * y_{10} - #[SP]_{myo}#$$
$$\frac{d}{dt}y_{11}=#f(y_{6},a_{2},a_{13},a_{34},a_{23})# * y_{10} + 3 * #f(y_{6},a_{8},a_{19},a_{40},a_{29})#*y_{14} - a_{59} * y_{11}$$
$$\frac{d}{dt}y_{12}=a_{59} * y_{11} - a_{69} * y_{12} - a_{72} * y_{12} * y_{15}$$
$$\frac{d}{dt}y_{13}=a_{72} * y_{12} * y_{15} - a_{73} * y_{13}$$
$$\frac{d}{dt}y_{14}=a_{73} * y_{13} - #f(y_{6},a_{8},a_{19},a_{40},a_{29})#*y_{14}$$
$$\frac{d}{dt}y_{15}=a_{66} * y_{16} * y_{22} - a_{72} * y_{12} * y_{15} - a_{67} * y_{15}$$
$$\frac{d}{dt}y_{16}=a_{67} * y_{15} + #f(y_{6},a_{10},a_{21},a_{42},a_{31})# * y_{17} - a_{66} * y_{16} * y_{22} - a_{53} * y_{16} * y_{22} * y_{23}$$
$$\frac{d}{dt}y_{17}=#f(y_{6},a_{9},a_{20},a_{41},a_{30})# * y_{18} + a_{52} * y_{19} - #f(y_{6},a_{10},a_{21},a_{42},a_{31})# * y_{17} - #f(y_{6},a_{11},a_{22},a_{43},a_{32})# * y_{17}$$
$$\frac{d}{dt}y_{18}=#f(y_{6},a_{7},a_{18},a_{39},a_{28})#* y_{7} - #f(y_{6},a_{9},a_{20},a_{41},a_{30})# * y_{18}$$
$$\frac{d}{dt}y_{19}=#f(y_{6},a_{11},a_{22},a_{43},a_{32})# * y_{17} - a_{52} * y_{19}$$
$$\frac{d}{dt}y_{20}=a_{53} * y_{16} * y_{22} * y_{23} + a_{56} * y_{31} - #f(y_{6},a_{3},a_{14},a_{35},a_{24})#*#f(y_{25},a_{4},a_{15},a_{36}, a_{25})#*y_{20} - a_{61} * y_{20} * y_{22}$$
$$\frac{d}{dt}y_{21}=a_{61} * y_{20} * y_{22} - a_{62} * y_{21}$$
$$\frac{d}{dt}y_{22}=a_{53} * y_{16} * y_{22} * y_{23} - a_{61} * y_{20} * y_{22} - a_{66} * y_{16} * y_{22}$$
$$\frac{d}{dt}y_{23}=a_{53} * y_{16} * y_{22} * y_{23} - a_{70} * y_{23}$$
$$\frac{d}{dt}y_{24}=a_{67} * y_{15} - a_{68} * y_{24}$$
$$\frac{d}{dt}y_{25}=#f(y_{6},a_{3},a_{14},a_{35},a_{24})#*#f(y_{25},a_{4},a_{15},a_{36}, a_{25})#*y_{20} + a_{69} * y_{12} + a_{55} * y_{31} + a_{54} * #[KB-plasma]# - a_{71} * y_{25}$$
$$\frac{d}{dt}y_{26}=a_{71} * y_{25} - a_{63} * y_{26}$$
$$\frac{d}{dt}y_{27}=a_{57} * y_{31} + a_{63} * y_{26} - a_{71} * y_{25}$$
$$\frac{d}{dt}y_{28}=a_{63} * y_{26} + #f(y_{6},a_{3},a_{14},a_{35},a_{24})#*#f(y_{25},a_{4},a_{15},a_{36}, a_{25})#*y_{20}$$
$$\frac{d}{dt}y_{29}=a_{63} * y_{26} + a_{68} * y_{24} - a_{64} * y_{29}$$
$$\frac{d}{dt}y_{30}=a_{64} * y_{29} - a_{65} * y_{30} - a_{70} * y_{23}$$
$$\frac{d}{dt}y_{31}=a_{60} * y_{8} + #f(y_{8},a_{5},a_{16},a_{37},a_{26})# * y_{32} - a_{55} * y_{31} - a_{56} * y_{31} - a_{57} * y_{31} - a_{58} * y_{31} - #f(y_{8},a_{6},a_{17},a_{38},a_{27})# * y_{31}$$
$$\frac{d}{dt}y_{32}=a_{58} * y_{31} - #f(y_{8},a_{5},a_{16},a_{37},a_{26})# * y_{32}$$

</div>

</body>
</html>