<!DOCTYPE html>
<html>

<head>
<!--    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>-->
<!--    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!--    <link rel="stylesheet" href="css/main.css">-->
<!--    <script src="js/app.js" defer></script>-->

</head>

<body>

<div class = "equations">
    $$\frac{d}{dt}D_{carb}=(a_{carb} * F_{carb}(t) - D_{carb}) / \tau_{carb}$$
$$\frac{d}{dt}J_{carb}=(D_{carb} - J_{carb}) / \tau_{carb}$$
$$\frac{d}{dt}D_{fat}=(a_{fat} * F_{fat}(t) - D_{fat}) / \tau_{fat}$$
$$\frac{d}{dt}J_{fat}=(D_{fat} - J_{fat}) / \tau_{fat}$$
$$\frac{d}{dt}D_{prot}=(a_{prot} * F_{prot}(t) - D_{prot}) / \tau_{prot}$$
$$\frac{d}{dt}J_{prot}=(D_{prot} - J_{prot}) / \tau_{prot}$$
$$\frac{d}{dt}[INS]=\alpha * J_{carb} + \beta * J_{fat} + \gamma * J_{prot} - CL * [INS]$$
$$\frac{d}{dt}[Gluc-plasma]=J_{carb} - f([INS],\alpha_{23},\beta_{23},\gamma_{23},\delta_{23})* [Gluc-plasma]$$
$$\frac{d}{dt}[AA-food]=J_{prot} - m_{20} * [AA-food] + f([AA-food],\alpha_{19},\beta_{19},\gamma_{19},\delta_{19}) * [AA]_{myo}$$
$$\frac{d}{dt}[TAG-plasma]=J_{fat} - m_{0} * [TAG-plasma]$$
$$\frac{d}{dt}[FFA^{loc}_{pl}]_{myo}=m_{0} * [TAG-plasma] - f([INS],\alpha_{1},\beta_{1},\gamma_{1},\delta_{1}) * [FFA^{loc}_{pl}]_{myo} - [SP]_{myo}(t)$$
$$\frac{d}{dt}[FFA]_{myo}=f([INS],\alpha_{1},\beta_{1},\gamma_{1},\delta_{1}) * [FFA^{loc}_{pl}]_{myo} + 3 * f([INS],\alpha_{31},\beta_{31},\gamma_{31},\delta_{31})*[LD]_{myo} - m_{2} * [FFA]_{myo}$$
$$\frac{d}{dt}[FA-CoA]_{myo}=m_{2} * [FFA]_{myo} - m_{3} * [FA-CoA]_{myo} - m_{5} * [FA-CoA]_{myo} * [Gly3P]_{myo}$$
$$\frac{d}{dt}[TAG]_{myo}=m_{5} * [FA-CoA]_{myo} * [Gly3P]_{myo} - m_{6} * [TAG]_{myo}$$
$$\frac{d}{dt}[LD]_{myo}=m_{6} * [TAG]_{myo} - f([INS],\alpha_{31},\beta_{31},\gamma_{31},\delta_{31})*[LD]_{myo}$$
$$\frac{d}{dt}[Gly3P]_{myo}=m_{27} * [G3P]_{myo} * [[H]n-c]_{myo} - m_{5} * [FA-CoA]_{myo} * [Gly3P]_{myo} - m_{28} * [Gly3P]_{myo}$$
$$\frac{d}{dt}[G3P]_{myo}=m_{28} * [Gly3P]_{myo} + f([INS],\alpha_{8},\beta_{8},\gamma_{8},\delta_{8}) * [G6P]_{myo} - m_{27} * [G3P]_{myo} * [[H]n-c]_{myo} - m_{11} * [G3P]_{myo} * [[H]n-c]_{myo} * [ATP-c]_{myo}$$
$$\frac{d}{dt}[G6P]_{myo}=f([INS],\alpha_{7},\beta_{7},\gamma_{7},\delta_{7}) * [Gluc]_{myo} + m_{10} * [GG]_{myo} - f([INS],\alpha_{8},\beta_{8},\gamma_{8},\delta_{8}) * [G6P]_{myo} - f([INS],\alpha_{9},\beta_{9},\gamma_{9},\delta_{9}) * [G6P]_{myo}$$
$$\frac{d}{dt}[Gluc]_{myo}=f([INS],\alpha_{23},\beta_{23},\gamma_{23},\delta_{23})* [Gluc-plasma] - f([INS],\alpha_{7},\beta_{7},\gamma_{7},\delta_{7}) * [Gluc]_{myo}$$
$$\frac{d}{dt}[GG]_{myo}=f([INS],\alpha_{9},\beta_{9},\gamma_{9},\delta_{9}) * [G6P]_{myo} - m_{10} * [GG]_{myo}$$
$$\frac{d}{dt}[Pyr]_{myo}=m_{11} * [G3P]_{myo} * [[H]n-c]_{myo} * [ATP-c]_{myo} + m_{15} * [AA]_{myo} - f([INS],\alpha_{12},\beta_{12},\gamma_{12},\delta_{12})*f([Ac-CoA]_{myo},\alpha_{122},\beta_{122},\gamma_{122}, \delta_{122})*[Pyr]_{myo} - m_{21} * [Pyr]_{myo} * [[H]n-c]_{myo}$$
$$\frac{d}{dt}[Lac]_{myo}=m_{21} * [Pyr]_{myo} * [[H]n-c]_{myo} - m_{22} * [Lac]_{myo}$$
$$\frac{d}{dt}[[H]n-c]_{myo}=m_{11} * [G3P]_{myo} * [[H]n-c]_{myo} * [ATP-c]_{myo} - m_{21} * [Pyr]_{myo} * [[H]n-c]_{myo} - m_{27} * [G3P]_{myo} * [[H]n-c]_{myo}$$
$$\frac{d}{dt}[ATP-c]_{myo}=m_{11} * [G3P]_{myo} * [[H]n-c]_{myo} * [ATP-c]_{myo} - m_{30} * [ATP-c]_{myo}$$
$$\frac{d}{dt}[[H]f-m]_{myo}=m_{28} * [Gly3P]_{myo} - m_{29} * [[H]f-m]_{myo}$$
$$\frac{d}{dt}[Ac-CoA]_{myo}=f([INS],\alpha_{12},\beta_{12},\gamma_{12},\delta_{12})*f([Ac-CoA]_{myo},\alpha_{122},\beta_{122},\gamma_{122}, \delta_{122})*[Pyr]_{myo} + m_{3} * [FA-CoA]_{myo} + m_{14} * [AA]_{myo} + m_{13} * [KB-plasma](t) - m_{4} * [Ac-CoA]_{myo}$$
$$\frac{d}{dt}[Cytr]_{myo}=m_{4} * [Ac-CoA]_{myo} - m_{24} * [Cytr]_{myo}$$
$$\frac{d}{dt}[OAA]_{myo}=m_{16} * [AA]_{myo} + m_{24} * [Cytr]_{myo} - m_{4} * [Ac-CoA]_{myo}$$
$$\frac{d}{dt}[CO_2]_{myo}=m_{24} * [Cytr]_{myo} + f([INS],\alpha_{12},\beta_{12},\gamma_{12},\delta_{12})*f([Ac-CoA]_{myo},\alpha_{122},\beta_{122},\gamma_{122}, \delta_{122})*[Pyr]_{myo}$$
$$\frac{d}{dt}[[H]nf-m]_{myo}=m_{24} * [Cytr]_{myo} + m_{29} * [[H]f-m]_{myo} - m_{25} * [[H]nf-m]_{myo}$$
$$\frac{d}{dt}[ATP-m]_{myo}=m_{25} * [[H]nf-m]_{myo} - m_{26} * [ATP-m]_{myo} - m_{30} * [ATP-c]_{myo}$$
$$\frac{d}{dt}[AA]_{myo}=m_{20} * [AA-food] + f([AA-food],\alpha_{17},\beta_{17},\gamma_{17},\delta_{17}) * [muscle]_{myo} - m_{14} * [AA]_{myo} - m_{15} * [AA]_{myo} - m_{16} * [AA]_{myo} - m_{18} * [AA]_{myo} - f([AA-food],\alpha_{19},\beta_{19},\gamma_{19},\delta_{19}) * [AA]_{myo}$$
$$\frac{d}{dt}[muscle]_{myo}=m_{18} * [AA]_{myo} - f([AA-food],\alpha_{17},\beta_{17},\gamma_{17},\delta_{17}) * [muscle]_{myo}$$

</div>

</body>
</html>